<!DOCTYPE html>
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>settings</title>
    <link rel="stylesheet" type="text/css" href={% static "/css/main.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "/css/settings.css" %} />
    <script src={% static "/js/sitebar.js" %}></script>
</head>
<body>
    <header>
        <div class="header">
            <div class="sitebar"></div>
            <span class="setting-title">Настройки</span>
            <a href="/profile/messages/" class="messages">
                <span></span>
            </a>
        </div>
    </header>

    <div id="dark"></div>
    <div id="menu">
        <div class="user">
            <div class="user-photo"></div>
            <div class="user-name">{{user.first_name}}</div>
        </div>
        <hr />
        <div class="panel">
            <ul>
                <li class="search">
                    <a href="">Поиск по имени</a>
                </li>
                <li class="messagi">
                    <a href="/profile/messages/">Сообщения</a>
                </li>
                <li class="likes">
                    <a href="/profile/favourites/">Мои лайки</a>
                </li>
                <li class="search">
                    <a href="/profile/search/">Поиск</a>
                </li>
                <li class="settings">
                    <a href="/profile/my/">Настройки профиля</a>
                </li>
            </ul>
        </div>
        <div class="whats-app">Назад в Whats App</div>
    </div>

    <div class="main-s">
        <div class="picture">
            <div class="slogan">Слоган (добавим потом)</div>
            <input class="change-photo" type="file"></input>
        </div>
        <div class="major">
            <div class="section selectionMain">Основное
            <span class="edit_info" id="editInfo" onClick="editInfo()"><span style="margin: 8px">Редактировать</span></span>
            <span class="edit_info noneVisibleBlock" id="saveInfo" onClick="saveInfo()"><span style="margin: 8px">Сохранить</span></span>
            </div>
            <div class="characters">
                <div>
                    <span class="black-name">Ресторан</span>
                    <span class="editInput noneVisibleBlock">
                        <select class="select" type="text" id="restaurant_name" value="{{user.restaurant.name}}">
                            {% for restaurant in restaurants %}
                            <option>{{restaurant.name}}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <span class="pink-name">{{user.restaurant.name}}</span>
                </div>
                <div>
                    <span class="black-name">Поиск по</span>
                    <span class="editInput noneVisibleBlock">
                    <select class="select" type="text" id="search_for" value="{{user.search_for}}">
                        {% for gender in genders %}
                            <option>{{gender}}</option>
                        {% endfor %}
                    </select>
                    </span>
                    <span class="pink-name">{{user.search_for}}м</span>
                </div>
                <div>
                    <span class="black-name">Имя</span>
                    <span class="editInput noneVisibleBlock"><input type="text" id="first_name" value="{{user.first_name}}"></span>
                    <span class="pink-name">{{user.first_name}}</span>
                </div>
            </div>
        </div>
        <div class="privacy">
            <div class="section">PRIVACY</div>
            <div class="charactersP">
                <div>
                    <span class="black-name">Активность</span>
                    <label class="switch">
                    {% if user.is_active %}
                        <input type="checkbox" checked onClick="change_activity()">
                    {% else %}
                        <input type="checkbox" onClick="change_activity()">
                    {% endif %}
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
function change_activity() {
    let request = new XMLHttpRequest();
    request.responseType = 'json';
    request.open('GET', "/api/change_activity/");
    request.addEventListener("readystatechange", () => {

    if (request.readyState === 4 && request.status === 200) {
        return;
    }
    });
    request.send();
}


function editInfo() {
    document.getElementById("editInfo").classList.toggle("noneVisibleBlock");
    document.getElementById("saveInfo").classList.toggle("noneVisibleBlock");
    let inputs = document.getElementsByClassName("editInput");
    for (let i = 0; i < inputs.length; i++)
        inputs[i].classList.toggle("noneVisibleBlock");
}

function saveInfo() {
    document.getElementById("editInfo").classList.toggle("noneVisibleBlock");
    document.getElementById("saveInfo").classList.toggle("noneVisibleBlock");
    let inputs = document.getElementsByClassName("editInput");
    let values = document.getElementsByClassName("pink-name");

    let request = new XMLHttpRequest();
    request.open('POST', "/api/change_info/");
    request.responseType = 'json';
    request.setRequestHeader("Content-Type", "application/json")
    var match = document.cookie.match(new RegExp('(^| )' + "csrftoken" + '=([^;]+)'));
    if (match)
    csrf = match[2];

    request.setRequestHeader("X-CSRFToken", csrf)
    request.addEventListener("readystatechange", () => {

    if (request.readyState === 4 && request.status === 200) {
        return;
    }
    });
    data = {}
    for (let i = 0; i < inputs.length; i++) {
        input_field = inputs[i].getElementsByTagName("input")[0];
        if (!input_field)
            input_field = inputs[i].getElementsByTagName("select")[0];
        values[i].innerHTML = input_field.value;
        inputs[i].classList.toggle("noneVisibleBlock");
        data[input_field.id] = input_field.value;
    }
    request.send(JSON.stringify(data));
}

</script>