<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}base title{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href={% static "/css/common.css" %} />
        <link rel="stylesheet" type="text/css" href={% static "/css/header.css" %} />
        {% block links %} {% endblock %}
        <script async src={% static "/js/sitebar.js" %}></script>
        <script src="/static/js/geo.js"></script>
    </head>
    <body>
        {% block sitebar %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </body>
    </html>