{% extends "userprofile2/base.html" %}
{% load static %}
{% block title %}Чат с {{other_userprofile.first_name}} {% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href={% static "/css/inputs.css" %} />
<link rel="stylesheet" type="text/css" href={% static "/css/activeChat.css" %} />
<link rel="stylesheet" type="text/css" href={% static "/css/chatInput.css" %} />

{% endblock %}

{% block sitebar %}
<header>
    <div class="iconArrow"><a href="/profile/menu/"><img src={% static "/svg/Line_38.svg" %} /></a></div>
    <div>
        <div><a href=""><img class="logo" src=
                {% if userprofile.restaurant.id == 1 %}
                    {% static "/svg/image_15.svg" %}
                {% else %}
                    {% static "/svg/Logo_Palm_04.png" %}
                {% endif %}
        ></a></div>
        <div class="extraTxt headTxt">знакомства</div>
    </div>
    <div class="icon"><a href="/profile/favourites/"><div id="getMenuBar" class="refMenu"></div></a></div>
</header>
{% endblock %}

{% block content %}
<main>
    <img class="partnerPhoto_hidden" src="{{ other_userprofile.photo.url }}" style="display: none">
    <div class="messages">
        {% for message in messages %}
            {% if message.sender == other_userprofile %}
                <div class="partner">
                    <div><img class="partnerPhoto" src="{{ other_userprofile.photo.url }}" /></div>
                    <div class="theirs">{{ message.text }}</div>
                    <div class="theirTime date">{{ message.time }}</div>
                </div>
            {% else %}
                <div class="me">
                    <div class="myTime date">{{ message.time }}</div>
                    <div class="mine">{{ message.text }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="inpField">
        <span><textarea rows="1" class="input" id="textInp" oninput="checkEmptiness(this)"></textarea></span>
        <button id="send" onclick="sendMessage()"></button>
    </div>
</main>

    <script defer src={% static "/js/activeChatInput.js" %} ></script>
    <script defer src={% static "/js/websocket.js" %} ></script>
{% endblock %}
