{% extends "userprofile2/base.html" %}
{% load static %}
{% block title %}Edit{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href={% static "/css/inputs.css" %} />
<link rel="stylesheet" type="text/css" href={% static "/css/edit.css" %} />
{% endblock %}

{% block sitebar %}
<header>
    <div class="iconArrow"><a href="/profile/menu/"><img src={% static "/svg/Line_38.svg" %} /></a></div>
    <div>
        <div><a href=""><img class="logo" src=
                {% if userprofile.restaurant.id == 1 %}
                     {% static "/svg/image_15.svg" %}
                {% else %}
                    {% static "/svg/Logo_Palm_04.png" %}
                {% endif %}
            ></a></div>
        <div class="extraTxt headTxt">знакомства</div>
    </div>
    <div class="icon"><a href="/profile/search/"><img src={% static "/svg/close.svg" %} /></a></div>
</header>
{% endblock %}

{% block content %}
<main>
    <div class="name section">Редактировать</div>
    <form class="editForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="photo">
            <div class="imagePreview" id="imagePreview">
                <canvas id="canvas"></canvas>
                <img src="{{userprofile.photo.url}}" alt="Image preview" class="imagePreviewImage" style="display: none;" />
            </div>
            <input type="file" name="photo" id="inpFile" accept="image/*"/>
        </div>
        <div class="photoEditorTools toolsNone" style="margin-bottom: 20px">
            <div class="rotate"  id="rotate"></div>
            <div class="scaleTools">
                <div class="minusTool"  id="minusTool"></div>
                <div class="plusTool" id="plusTool"></div>
            </div>
        </div>

        <div class="privacy">
            <div>
                <label class="inputCapture" for="myName" >Имя</label><br/>
                <input name="first_name" class="input" type="text" id="myName" value="{{ userprofile.first_name }}"/>
            </div>

            <div>
                <label>
                    {% if userprofile.sex == "Мужчина" %}
                        <input type="radio" name="sex" id="choice" value="Мужчина" checked/>
                    {% else %}
                        <input type="radio" name="sex" id="choice" value="Мужчина" />
                    {% endif %}
                    <span class="sex">Мужчина</span>
                </label>
                <hr />
                <label>
                    {% if userprofile.sex == "Женщина" %}
                        <input type="radio" name="sex" id="choice" value="Женщина" checked/>
                    {% else %}
                        <input type="radio" name="sex" id="choice" value="Женщина" />
                    {% endif %}
                    <span class="sex">Женщина</span>
                </label>
            </div>

            <div>
                <label class="inputCapture" for="age" >Возраст</label><br/>
                <input name="age" class="input" type="text" id="age" value="{% if userprofile.age %} {{userprofile.age}} {% endif %}"/>
            </div>
            <div>
                <label class="inputCapture" for="me" >Пару слов о себе</label><br/>
                <input name="status" class="input" type="text" id="me" value="{{userprofile.status}}" />
            </div>
            <input type="submit" class="btn" id="button" value="Сохранить" />
             <div class="errors">
                {% for error in errors %}
                    <p class="error">{{error}}</p>
                {% endfor %}
            </div>
        </div>
    </form>
</main>
<script src={% static "/js/photoEditor.js" %}></script>
{% endblock %}