{% extends "userprofile2/base.html" %}
{% load static %}
{% block title %}Search{% endblock %}
{% block links %}
<link rel="stylesheet" type="text/css" href={% static "/css/search.css" %} />
<link rel="stylesheet" type="text/css" href={% static "/css/endOfSearch.css" %} />
{% endblock %}

{% block content %}
<div id="mainWindow">
    <header>
        <div class="iconArrow"><a href="/profile/menu/"><img src={% static "/svg/Line_38.svg" %} /></a></div>
        <div>
            <div><a href="/profile/menu/"><img class="logo" src=
                {% if userprofile.restaurant.id == 1 %}
                     {% static "/svg/image_15.svg" %}
                {% else %}
                    {% static "/svg/Logo_Palm_04.png" %}
                {% endif %}
            ></a></div>
            <div class="extraTxt headTxt">знакомства</div>
        </div>
        {% if countnewcoincidence > 0 %}
            <a href="/profile/menu/"><div id="getMenuBar" class="refMenu circle"></div></a>

        {% else %}
            <a href="/profile/menu/"><div id="getMenuBar" class="refMenu"></div></a>
        {% endif %}
    </header>

    <main>
        <div class="yellowO">
            <div>
                <div class="user">
                    <img src="{{ userprofile.photo.url }}" />
                </div>
            </div>
        </div>
        <div class="section">Больше людей нет</div>
        <div class="extraTxt fewWords">Зайдите позже</div>
    </main>
</div>
{% endblock %}