{% extends "userprofile2/base.html" %}
{% load static %}
{% block title %}Сервис недоступен{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href={% static "/css/common.css" %} />
<link rel="stylesheet" type="text/css" href={% static "/css/header.css" %} />
<link rel="stylesheet" type="text/css" href={% static "/css/geo.css" %} />
{% endblock %}

{% block sitebar %}
<header>
    <div>
        <div><a href=""><img class="logo" src=
                {% if userprofile.restaurant.id == 1 %}
                             {% static "/svg/image_15.svg" %}
            {% else %}
            {% static "/svg/Logo_Palm_04.png" %}
            {% endif %}
            ></a></div>
        <div class="extraTxt headTxt">знакомства</div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="text-info">
    <div>
        Вы находитесь слишком далеко от заведения
    </div>
    <div>
        Для использования сервиса, вам нужно приблизиться к одному из заведений и обновить геолокацию
    </div>
    <div class="btn" /><a href="/profile/reg/{{userprofile.restaurant.id}}">Обновить</a></div>
</div>

{% endblock %}



