{% extends "userprofile2/base.html" %}
{% load static %}
{% block title %}Ваши мэтчи{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href={% static "/css/common.css" %} />
<link rel="stylesheet" type="text/css" href={% static "/css/header.css" %} />
<link rel="stylesheet" type="text/css" href={% static "/css/MAR.css" %} />
{% endblock %}

{% block sitebar %}
<header>
        <div class="iconArrow"><a href="/profile/menu/"><img src={% static "/svg/Line_38.svg" %} /></a></div>
        <div>
            <div><a href=""><img class="logo" src={% static "/svg/image_15.svg" %} ></a></div>
            <div class="extraTxt headTxt">знакомства</div>
        </div>
        <a href="/profile/search/"><div id="getMenuBar" class="refMenu"></div></a>
</header>
{% endblock %}

{% block content %}
<main>
    <div class="name section">Список Мэтчей</div>
    <div class="items">
        {% for userview in userviews %}
            {% if userview.user_1 == userprofile %}
                <div class="item">
                    <div class="photo"><img src="{{userview.user_2.photo.url}}" /></div>
                    <div>
                        <div class="name nameR"><a href="/profile/chat/{{userview.user_2.id}}">{{userview.user_2.first_name}}, {{userview.user_2.age}}</a></div>
                        <div class="extraTxt fewWords">{{userview.user_2.status}}</div>
                    </div>
                </div>
            {% else %}
                <div class="item">
                    <div class="photo"><img src="{{userview.user_1.photo.url}}" /></div>
                    <div>
                        <div class="name nameR"><a href="/profile/chat/{{userview.user_1.id}}">{{userview.user_1.first_name}}, {{userview.user_1.age}}</a></div>
                        <div class="extraTxt fewWords">{{userview.user_1.status}}</div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</main>
{% endblock %}