{% extends "userprofile2/base.html" %}
{% load static %}
{% block title %}Загрузить фотографию{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href={% static "/css/edit.css" %} />
<link rel="stylesheet" type="text/css" href={% static "/css/inputs.css" %} />
<link rel="stylesheet" type="text/css" href={% static "/css/regPhoto.css" %} />
{% endblock %}

{% block sitebar %}
<header>
    <div class="iconArrow"><a href="/profile/menu/"><img src={% static "/svg/Line_38.svg" %} /></a></div>
    <div>
        <div><a href=""><img class="logo" src={% static "/svg/image_15.svg" %} ></a></div>
        <div class="extraTxt headTxt">знакомства</div>
    </div>
    <div class="refMenu"></div>
</header>
{% endblock %}

{% block content %}
<main>
    <div class="name section">Добавить фото</div>
    <form class="editForm" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="photo">
            <div class="imagePreview" id="imagePreview">
                <canvas id="canvas"></canvas>
                <img src={% static "/svg/Line_38.svg" %} alt="Image preview" class="imagePreviewImage" style="display: none"/>
            </div>
            <input type="file" name="inpFile" id="inpFile" accept="image/*" />

        </div>
        <div class="photoEditorTools toolsNone">
            <div class="rotate"  id="rotate"></div>
            <div class="scaleTools">
                <div class="minusTool"  id="minusTool"></div>
                <div class="plusTool" id="plusTool"></div>
            </div>
        </div>
        <div class="privacy">

            <input type="submit" class="btn btnAdmit" id="button" value="Подтвердить"/>

            <input type="file" name="file" id="buttonSkip" class="inputFile" accept=".jpg, .jpeg, .png, .svg" onchange="upload()" />
            <label for="inpFile" class="btn btnSkip">Изменить</label>

        </div>

    </form>
</main>
<script src={% static "/js/photoEditor.js" %} ></script>
{% endblock %}