<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>RegTel</title>
        <link rel="stylesheet" type="text/css" href={% static "/css/common.css" %} />
        <link rel="stylesheet" type="text/css" href={% static "/css/header.css" %} />
        <link rel="stylesheet" type="text/css" href={% static "/css/inputs.css" %} />
        <link rel="stylesheet" type="text/css" href={% static "/css/edit.css" %} />
        <link rel="stylesheet" type="text/css" href={% static "/css/registration.css" %} />

        <script src={% static "/js/phoneInput.js" %}></script>
    </head>
    <body>
        <header>
        <div class="iconArrow"><a href="/profile/menu/"><img src={% static "/svg/Line_38.svg" %} /></a></div>
        <div>
            <div><a href=""><img class="logo" src=
                {% if userprofile.restaurant.id == 1 %}
                     {% static "/svg/image_15.svg" %}
                {% else %}
                    {% static "/svg/Logo_Palm_04.png" %}
                {% endif %}
            ></a></div>
            <div class="extraTxt headTxt">знакомства</div>
        </div>
        <div id="getMenuBar" class="refMenu"></div>
        </header>
        
        <main>
            <div class="name section">Введи свой телефон</div>
            <form class="editForm" method="post">
                {% csrf_token %}

                <div class="privacy">
                    <div>
                        <input name="tel" class="input" type="tel" id="tel"/>
                    </div>

                    <input type="submit" class="btn" id="button" value="Дальше" disabled />

                </div>

            </form>
    <div class="privacyPolicy">
        <span>
            Нажимая "Далее", вы соглашаетесь с <a href="/static/pdf_file.pdf">политикой обработки персональных данных</a>
        </span>
    </div>
        </main>


    </body>
</html>