<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>RegWords</title>
        <link rel="stylesheet" type="text/css" href={% static "/css/common.css" %} />
        <link rel="stylesheet" type="text/css" href={% static "/css/header.css" %} />
        <link rel="stylesheet" type="text/css" href={% static "/css/inputs.css" %} />
        <link rel="stylesheet" type="text/css" href={% static "/css/edit.css" %} />
        <link rel="stylesheet" type="text/css" href={% static "/css/registration.css" %} />

        <script async src={% static "/js/checkTxt.js" %}></script>
        <script src="/static/js/geo.js"></script>
    </head>
    <body>
        <header>
        <div class="iconArrow"><a href="/profile/menu/"><img src={% static "/svg/Line_38.svg" %} /></a></div>
        <div>
            <div><a href=""><img class="logo" src=
                {% if userprofile.restaurant.id == 1 %}
                     {% static "/svg/image_15.svg" %}
                {% else %}
                    {% static "/svg/Logo_Palm_04.png" %}
                {% endif %}
            ></a></div>
            <div class="extraTxt headTxt">знакомства</div>
        </div>
        <div id="getMenuBar" class="refMenu"></div>
        </header>
        
        <main>
            <div class="name section">Пару слов о себе</div>
            <form class="editForm" method="post">
                {% csrf_token %}
                <div class="privacy">
                    <div>
                        <input name="me" class="input" type="text" id="me" onkeypress="checkTxt()" />
                    </div>

                    <input type="submit" class="btn" id="button" value="Дальше" />

                    <a href="/profile/addphoto/"><input type="buttonSkip" class="btn btnSkip" id="buttonSkip" value="Пропустить" /></a>

                </div>

            </form>
        </main>
    </body>
</html>