body { overflow-y: scroll; }

main, .messages {
    /*display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;*/
}

.messages {
    overflow-y: scroll;
}

/*main {
    overflow-y: scroll;
    height: 85%;
}*/

.messages > div {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-direction: row;
}

.partner, .messages {
    justify-content: flex-start;
}

.me {
    justify-content: flex-end;
    align-self: flex-end;
    float: right;
}

.mine, .theirs {
    /*display: inline-flex;
    flex-direction: column;
    flex-basis: 100%;*/

    border-radius: 36px;
    font-weight: 500;
    text-align: left;
    box-sizing: border-box;
    height: auto;
    word-break: break-word;
}

.theirs {
    background: #FFFFFF10;
    width: 555px;
}

.mine {
    background: #F9D671;
    color: #000000;
    width: 534px;
}

.partnerPhoto {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
}

.date {
    opacity: 0.7;
    position: relative;
}

.day {
    width: 100%;
    text-align: center;
}

.date, .theirs {
    color: #FFFFFF;
}

.myTime, .theirTime {
    align-self: center;
}


.myTime {
    margin-right: 48px;
}
.theirTime {
    margin-left: 48px;
}

.partner {
    float: left;
}



    body {
        height: calc(100vh - 175px);
    }

    main {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        height: calc(100% - 285px);
        max-height: calc(100vh - 285px);
        margin-top: 50px;
    }

    .messages > div {
        margin-bottom: 99px;
    }

    .mine, .theirs {
        padding: 48px;
        font-size: 42px;
        line-height: 51px;
        min-height: 146.4px;
    }

    .partnerPhoto {
        margin-right: 48px;
        width: 93px;
        height: 93px;
    }

    .date {
        font-size: 36px;
        line-height: 45px;
        top: 0px;
    }
    .day {
        margin-top: 75px;
        margin-bottom: 90px;
    }

    .messages > div:last-child {
        margin-bottom: 460px;
    }


/* @media (orientation: landscape) {

    body {
        height: calc(100vh - 130px);
    }

    main {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        height: calc(100% - 130px);
        max-height: calc(100vh-130px);
        margin-top: 25px;
    }

    .messages > div {
        margin-bottom: 49.5px;
    }

    .mine, .theirs {
        padding: 32px;
        font-size: 28px;
        line-height: 34px;
        min-height: 97.6px;
    }

    .partnerPhoto {
        margin-right: 32px;
        width: 62px;
        height: 62px;
    }

    .date {
        font-size: 24px;
        line-height: 30px;
    }
    .day {
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .messages > div:last-child {
        margin-bottom: 250px;
    }

} */
