
.text-info {
    text-align: center;
    margin-top: 180px;
    font-size: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.text-info div {
    margin-bottom: 60px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn {
    background: #CFCDC8;
    border-radius: 117px;
    font-size: 68px;

    font-weight: 500;
    text-align: center;
    width: 90%;
    padding: 30px;

    color: #1A1919;

    border: none;
    margin-top: 250px;
}

.btn a {
    color: black;
}


