.refMenu, .iconArrow {
    visibility: hidden;
}

/*@media only screen and (orientation: portrait) {*/
@media only screen and (min-width: 481px) and (orientation: portrait) {
    .input {
        margin-top: -10px;
    }
}

@media only screen and (min-device-width: 481px) and (orientation: landscape) {
    
    .privacy  {
        margin-left: 16px;
    }

    #tel, #myName, #age, #me {
        width: 175%;
    }

    .input {
        margin-top: 0px;
        height: 60px;
        width: 100%;
    }

    .btn {
        position: absolute;
        right: 48px;
    }

    .btnSkip {
        position: relative;
    }

    .privacy > div:nth-child(2) {
        padding-top: 42px;
    }
}